/* General */
html, body{
    font-family: 'Raleway', sans-serif;
}

.container{
    padding-left: 30px;
    padding-right: 30px;
}

a{
    color: #1c7989;
}

.btn{
    border-radius: 0 !important;
}
.btn-outline-secondary{
    color: #fff;
    border-color: #fff !important;
}
.btn-outline-secondary:focus{
    border-color: #fff !important;
}
.btn-outline-secondary:hover{
    color: #1c7989;
    background-color: #fff;
}
.outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem #fff;
}
.outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem #fff;
}
/* Navbar */
@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
.navbar-dark{
    background-image: #1c7989;
}

.bg-yellow{
    background-color: #1c7989;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

/* Content */
.jumbotron{
    color: #fff;
    background: #1c7989;
    min-height: 350px;
    padding: 40px 20px;
}

footer{
    border-top: 1px solid rgba(28,121,137, 0.5);
    border-bottom: 1px solid rgba(28,121,137, 0.5);
}

.footer-dark{
    background: rgba(28,121,137, 0.1);
}

.social-icons a{
    font-size: 2em;
    color: rgb(150, 150, 150);
    padding: 20px 5px;
}

.bottom-links{
    padding: 10px 0;
}

.nav{
    flex-wrap: nowrap;
}
.nav-link{
    padding: 0 .2em !important;
}